.cinco
  h2 ¿Qué necesito para estrenar mi nuevo auto usado?
  .row
    col-xs-6
      ul
        li Solicitud de crédito
        li Identificación oficial vigente (IFE, pasaporte, cédula profesional)
        li Estados de cuenta o recibos de nómina de los últimos tres meses
        li Comprobante de domicilio no mayor a tres meses (agua, luz, teléfono)
  .row
    col-xs-6
      ul
        li Edad de 18 a 69 años
        li Antigüedad laboral desde 6 meses
        li Antigüedad mínima en domicilio actual de 1 año
