.cuatro
  h2 Que el papeleo no frene tu compra
  .row
    .col-xs-6
      p ¿No tienes historial crediticio?
      br
      p
        b No te preocupes
    .col-xs-6
      p ¿No tienes comprobantes de ingresos?
      br
      p
        b No hay problema
  .row
    p Crédito Real es la única opción para comprar un auto usado a crédito y entre particulares pero además, brinda la flexibilidd y confianza a aquellos usuarios que no cuentan con comprobantes de ingresos u historial crediticio.
