.seis
  h2 Tu auto puede tener historia, pero no problemas
  h1 Revisamos
  .row
    .col-xs-4
      h3 Seguros
      ul
        li Son reporte de robo
        li Sin siniestro de pérdida total
        li Sin sinuestro con afectación de chasis o motor
    .col-xs-4
      h3 Plataforma México
      ul
        li Sin embargo
        li Sin reporte de robo
        li Registro correcto en aduanas
    .col-xs-4
      h3 Finanzas
      ul 
        li Tenencias pagadas correctamente y sin alteraciones
        li Sin tenencias falsas
        li Pagon en portal correctamente
  .row
    .col-xs-4
      h3 PGR
      ul
        li Sin registro de delito
        li Sin relación con averiguación previa o noticia criminal
        li Sin reporte de robo o venta de motor de ensabladora
    .col-xs-4
      h3 Factura
      ul
        li Revisión de las cadenas de la factura
        li Factura vigente (sin cancelar)
        li Fechas y lugares de expedición activa ante el SAT
    .col-xs-4
      h3 Infracciones
      ul
        li Sin multas a nivel República Mexicana
