.siete
  h2 Estrenar tu
    b nuevo auto usado
    | es muy fácil

  .row
    .col-xs-6
      ul
        li Eliges el auto que quieres 
        li Autorización en 48 horas 
        li Tasas del 1.5% mensual
        li Plazos de 12 a 48 meses
    .col-xs-6
      ul
        li Aporte mínimo del 50% del valor del auto
        li 3% de comisión por apertura sobre lo que te prestamos
        li Seguro de auto de contado o financiado