.background-image-uno
.uno
  .container
    h2 Comprar un seminuevo también es estrenar
    h2 Estrena un auto usado
      acme-malarkey(extra-values="['a crédito', 'entre particulares', 'sin complicaciones', 'sin comprobantes de ingreso', 'sin historial crediticio']")
    .row.text-center
      button.btn.btn-default Estrenar un seminuevo
      br
      br
      button Ver más