.container-fluid
  acme-navbar
  section(ui-view='uno')
  section(ui-view='dos')
  section(ui-view='tres')
  section(ui-view='cuatro')
  section(ui-view='cinco')
  section(ui-view='seis')
  section(ui-view='siete')
  section(ui-view='ocho')